@model Repository.Application.DataModel.AspNetGroups
@{
    ViewBag.Title = "Delete Group";
    @*if (Request.Params["layoutIsNull"] != null && Convert.ToBoolean(Request.Params["layoutIsNull"]) == true)
        {
            Layout = null;
        }*@
}

<div class="card box-solid">
    <div class="card-body">
        <div class="card-header with-border">
            <b class="card-title">@ViewBag.Title</b>
        </div>

        <div class="card-body">
            <div class="row">
                @Html.Label("Group name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.GroupName)
                </div>
            </div><br />

            <div class="row">
                @Html.Label("Group Description", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.GroupDescription)
                </div>
            </div><br />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    @*@Html.ActionLink("Back", "Index", null, new { @Class = "btn btn-default" })*@
                    <input type="submit" value="Delete" class="btn btn-primary" style="background-color:#008CBA; color:white;" data-toggle="modal" data-target="#deleted" />
                </div>
            }
        </div>
    </div>
</div>