@model Repository.Application.DataModel.AspNetGroups
@{
    var roles = (List<Repository.Application.DataModel.AspNetRoles>)ViewBag.Roles;

    var dictionaryRoles = new Dictionary<string, string>();
    var dictionaryRolesApi = new Dictionary<string, string>();
    roles.ForEach(x =>
    {
        if (x.AspNetRoles2 == null)
        {
            if (x.Type == "Controller Api")
            {
                dictionaryRolesApi.Add(x.Id.ToString(), x.AspNetRoles2 != null ? x.AspNetRoles2.Name + " ---- " + x.Name : x.Name);
            }
            else
            {
                dictionaryRoles.Add(x.Id.ToString(), x.AspNetRoles2 != null ? x.AspNetRoles2.Name + " ---- " + x.Name : x.Name);

            }
        }
        else
        {
            if (x.AspNetRoles2.Type == "Controller Api")
            {
                dictionaryRolesApi.Add(x.Id.ToString(), x.AspNetRoles2 != null ? x.AspNetRoles2.Name + " ---- " + x.Name : x.Name);
            }
            else
            {
                dictionaryRoles.Add(x.Id.ToString(), x.AspNetRoles2 != null ? x.AspNetRoles2.Name + " ---- " + x.Name : x.Name);

            }
        }


//if (x.AspNetRoles2.Type.ToLower() == "controller api")
//{
//    dictionaryRolesApi.Add(x.Id.ToString(), x.AspNetRoles2 != null ? x.AspNetRoles2.Name + " ---- " + x.Name : x.Name);
//}
//else
//{
//}
});

}
<!-- /.box-header -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.GroupName)

    <div class="card box-solid">
        <div class="card-header with-border">
            <b class="card-title">
                Edit Group
            </b>
        </div>

        <div class="card-body">
            <div class="row">
                @Html.Label("Group Description", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.GroupDescription, new { htmlAttributes = new { @class = "form-control", @Required = "required" } })
                    @Html.ValidationMessageFor(model => model.GroupDescription, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="row">
                @Html.Label("Remark", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="row">
                @Html.Label("Is Active", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("IsActive", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div><br />

            <div class="row">
                @Html.Label("Roles", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <div class="box-header h4">  MVC Controller</div>
                    <div class="box-body">
                        @{
                            foreach (var item in dictionaryRoles.OrderBy(x => x.Value))
                            {
                                <label>
                                    @Html.CheckBox(item.Key, Model.AspNetRoleGroup.Where(x => x.RolesId.ToString() == item.Key).FirstOrDefault() != null ? true : false)
                                    @{
                                        if (Model.AspNetRoleGroup.Where(x => x.RolesId.ToString() == item.Key).FirstOrDefault() != null)
                                        {
                                            @Html.Label(item.Value, htmlAttributes: new { @style = "color:#00a65a" })
                                        }
                                        else
                                        {

                                            @Html.Label(item.Value, htmlAttributes: new { @style = "color:#dd4b39" })
                                        }
                                    }
                                </label>
                                <br />
                            }
                        }
                    </div>

                </div>
                <div class="col-md-2">

                    <div class="card-header h4"> Api Controller</div>
                    <div class="card-body">
                        @{
                            foreach (var item in dictionaryRolesApi.OrderBy(x => x.Value))
                            {
                                <label>
                                    @Html.CheckBox(item.Key, Model.AspNetRoleGroup.Where(x => x.RolesId.ToString() == item.Key).FirstOrDefault() != null ? true : false)
                                    @{
                                        if (Model.AspNetRoleGroup.Where(x => x.RolesId.ToString() == item.Key).FirstOrDefault() != null)
                                        {
                                            @Html.Label(item.Value, htmlAttributes: new { @style = "color:#00a65a" })
                                        }
                                        else
                                        {

                                            @Html.Label(item.Value, htmlAttributes: new { @style = "color:#dd4b39" })
                                        }
                                    }
                                </label>
                                <br />
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        @Html.ActionLink("Back", "Index", null, new { @Class = "btn btn-default" })
                        <input type="submit" value="Save" class="btn btn-primary" style="background-color:#008CBA; color:white;" />
                    </div>
                </div>
            </div>

        </div>

    </div>

}