@model Repository.Application.DataModel.place

@{
    ViewBag.Title = "Details";
}

<div class="card box-solid">
    <div class="card-header with-border">
        <h3 class="card-title">
            @ViewBag.Title   - Place
        </h3>
    </div>
    <!-- /.box-header -->
    <div class="card-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.code)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.code)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.nama)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nama)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.location)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.floorLevel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.floorLevel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.remark)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.remark)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UpdatedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UpdatedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.place2.code)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.place2.code)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>