@model Repository.Application.DataModel.CommonListValue

@{
    ViewBag.Title = "Details Common List Value";
}

<div class="card box-solid">
    <div class="card-header with-border">
        <b class="card-title">@ViewBag.Title</b>
    </div>

    <div class="card-body">
        <div class="row">
            @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DisplayFor(model => model.Value)
            </div>
        </div>


        <div class="row">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DisplayFor(model => model.Text)
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(model => model.Desc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DisplayFor(model => model.Desc)
            </div>
        </div>

       

        <div class="card-footer">
            <div class="form-group">
                @Html.ActionLink("Back", "Index", "CommontListValue", new { @Class = "btn btn-default" })
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", @style = "background-color:#008CBA; color:white;" })
            </div>
        </div>


    </div>

</div>


